.p-topic {
    background-color: #9c2b2e;
}
.m-layout {
    width: 100%;
    img {
        display: block;
    }
    .m-plate-img {
        display: block;
        margin: 0 auto;
    }
    .m-plate-text {
        font-size: 18px;
        text-align: center;
        color: white;
        opacity: 0.5;
        p {
            margin: 0;
            line-height: 26px;
        }
    }
    .m-top {
        position: relative;
        background-image: url("@{kv_xuezhantiance}top-bg.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        .m-top-retouch {
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .m-top-other-img {
            .m-top-author {
                position: absolute;
                left: 0;
                top: 85px;
            }
            .m-top-main {
                margin-top: 30%;
                .m-top-title-tip {
                    margin: 0 auto;
                    margin-top: -12.89px;
                }
                .m-top-jump__icon {
                    margin: 0 auto;
                    margin-top: 107px;
                }
            }
        }
    }
    .m-one {
        padding-top: 29px;
        background-image: url("@{kv_xuezhantiance}p1/plate-bg.jpg");
        background-size: cover;
        background-position: center;
        .m-boss-list {
            margin-top: 175px;
            .m-item {
                width: fit-content;
                position: relative;
                margin: 0 auto;
                img {
                    display: block;
                }
                .m-item-boss__icon {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    bottom: 0;
                }
                .m-item-boss__name {
                    position: absolute;
                    right: 34px;
                    top: 24px;
                    color: #991f1d;
                    font-size: 75px;
                    font-weight: bold;
                    line-height: 107px;
                }
                .m-item-boss__brief {
                    position: absolute;
                    right: 65.5px;
                    bottom: 37px;
                    color: black;
                    opacity: 0.5;
                    line-height: 32px;
                    width: 618px;
                    text-align: right;
                    font-size: 22px;
                }
                .m-item-boss__tip {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    bottom: 37px;
                    display: flex;
                    align-items: center;
                    .m-item-boss__tip__item {
                        background-color: black;
                        color: white;
                        padding: 5px 22px;
                        font-size: 22px;
                        line-height: 32px;
                        &.m-item-boss__tip__item__white {
                            background-color: white;
                            color: black;
                        }
                    }
                }
                &.m-item__left {
                    .m-item-bg {
                        transform: scaleX(-1);
                    }
                    .m-item-boss__icon {
                        left: initial;
                        right: 0;
                    }
                    .m-item-boss__level {
                        position: absolute;
                        left: 75.5px;
                        top: 181px;
                        color: #824c3b;
                        font-size: 60px;
                        font-weight: bold;
                    }
                    .m-item-boss__brief {
                        position: absolute;
                        right: initial;
                        bottom: 40px;
                        left: 75.5px;
                        text-align: left;
                    }
                    .m-item-boss__tip {
                        left: initial;
                        right: 0;
                    }
                }
                &:nth-of-type(2) {
                    margin-top: 78px;
                    .m-item-boss__icon {
                        bottom: -40px;
                    }
                }
                &:nth-of-type(3) {
                    margin-top: 92px;
                }
                &:nth-of-type(4) {
                    margin-top: 92px;
                    .m-item-boss__icon {
                        bottom: -26px;
                    }
                    .m-item-boss__level {
                        top: 111px;
                    }
                    .m-item-boss__brief {
                        width: 519px;
                    }
                }
                &:nth-of-type(5) {
                    margin-top: 85px;
                    .m-item-boss__icon {
                        left: -180px;
                    }
                }
            }
        }
    }
    .m-two {
        margin-top: 301px;
        position: relative;
        .m-factions-box {
            margin-top: 112px;
            max-width: 1590px;
            position: relative;
            .m-factions-bg {
                background-image: url("@{kv_xuezhantiance}p2/factions-bg.svg");
                background-size: cover;
                background-position: center;
                height: 664px;
            }
            .m-factions-change__icon {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                cursor: pointer;
            }
            .m-factions-detail {
                position: absolute;
                right: 105px;
                top: 58px;
            }
            .m-factions-kv {
                position: absolute;
                right: 390px;
                bottom: 0;
            }
            .m-factions-tip__text {
                position: absolute;
                right: 27px;
                bottom: 36px;
                font-size: 20px;
                color: white;
                opacity: 0.5;
            }
        }
        .m-factions-retouch {
            position: absolute;
            left: 0;
            bottom: -160px;
            right: 0;
            pointer-events: none;
        }
    }
    .m-three {
        padding-top: 246px;
        background-image: url("@{kv_xuezhantiance}top-bg-retouch.png"), url("@{kv_xuezhantiance}p3/plate-bg.jpg");
        background-size: 100% auto, cover;
        background-position: top 417px left, center;
        background-repeat: no-repeat;
        padding-bottom: 468px;
        .m-award-box {
            margin-top: 50px;
            .m-award-title {
                margin: 0 auto;
            }
            .m-award-info {
                display: flex;
                justify-content: center;
                align-items: baseline;
                margin-top: 32px;
                .m-award-info__item {
                    .m-item-detail {
                        position: relative;
                        margin-top: 36px;
                        .m-item-detail__text {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 22px;
                            color: white;
                            line-height: 33px;
                            padding: 22px 16px;
                        }
                    }
                }
                .m-award-info__connect {
                    width: 116px;
                    padding-bottom: 20px;
                    img {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .m-four {
        margin-top: -215px;
        background-image: url("@{kv_xuezhantiance}top-bg-retouch.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: bottom 200px center;
        .m-stage-title {
            margin: 0 auto;
            &.m-stage-title__foster {
                margin-top: 63px;
            }
            &.m-stage-title__master {
                margin-top: 76px;
            }
        }
        .m-content-box {
            .m-foster-item {
                background-color: #efe5d8;
                border-radius: 10px;
                position: relative;
                box-sizing: border-box;
                .m-foster-title {
                    color: #7d1413;
                    font-size: 48px;
                    margin: 0;
                    line-height: 37.5px;
                }
                .m-foster-text {
                    color: #6e4e4e;
                    font-size: 24px;
                    line-height: 37.5px;
                    margin: 0;
                }
                .m-foster-icon {
                    position: absolute;
                }
            }
            .m-foster-top {
                display: flex;
                justify-content: center;
                margin-top: 57px;
                .m-foster-item {
                    &:nth-of-type(1) {
                        width: 731px;
                        height: 297px;
                        padding-left: 31px;
                        padding-right: 152px;
                        .m-foster-title {
                            padding-top: 51px;
                            padding-bottom: 35px;
                        }
                        .m-foster-icon {
                            right: 2px;
                            bottom: 14px;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-left: 22px;
                        width: 527px;
                        height: 297px;
                        padding-left: 28px;
                        padding-right: 85px;
                        .m-foster-title {
                            padding-top: 100px;
                            padding-bottom: 62px;
                        }
                        .m-foster-icon {
                            top: 36px;
                            right: 13px;
                        }
                    }
                }
            }
            .m-foster-bottom {
                display: flex;
                justify-content: center;
                margin-top: 24px;
                .m-foster-item {
                    &:nth-of-type(1) {
                        width: 607px;
                        height: 364px;
                        padding-left: 31px;
                        padding-right: 28px;
                        .m-foster-title {
                            padding-top: 91px;
                            padding-bottom: 55px;
                            padding-left: 191px;
                        }
                        .m-foster-icon {
                            top: 25px;
                            left: 31px;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-left: 23px;
                        width: 650px;
                        height: 364px;
                        padding-left: 26px;
                        padding-right: 17px;
                        .m-foster-title {
                            padding-top: 91px;
                            padding-bottom: 53px;
                            padding-left: 217px;
                        }
                        .m-foster-icon {
                            top: 39px;
                            left: 26px;
                        }
                    }
                }
            }
            .m-master-box {
                width: 1280px;
                padding: 0 471px 29px 31px;
                margin: 57px auto 0;
                .m-foster-title {
                    padding-top: 46px;
                    padding-bottom: 30px;
                }
                .m-foster-icon {
                    right: 25px;
                    bottom: 0;
                }
            }
        }
    }
    .m-five {
        margin-top: 114px;
        padding-top: 196px;
        padding-bottom: 705px;

        background-image: url("@{kv_xuezhantiance}top-bg-retouch.png"), url("@{kv_xuezhantiance}p5/plate-bg.jpg");
        background-size: 100% auto, cover;
        background-position: top 109px left, center;
        background-repeat: no-repeat, no-repeat;
        .m-content-box {
            margin-top: 132px;
            display: flex;
            justify-content: center;
            .m-adventure-item {
                position: relative;
                .m-adventure-item__icon {
                    position: relative;
                    z-index: 2;
                    cursor: pointer;
                }
                .m-adventure-item-tip-box {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    transform: translateY(-10%);
                    transition: 0.3s all;
                    .m-adventure-item-tip__text {
                        margin: 0;
                        position: absolute;
                        top: 34px;
                        bottom: 34px;
                        left: 28px;
                        right: 28px;
                        font-size: 24px;
                        line-height: 37.5px;
                        color: white;
                        text-align: center;
                    }
                }
                &:hover {
                    .m-adventure-item-tip-box {
                        transform: translateY(100%);
                    }
                }
                &:last-child {
                    margin-left: 57px;
                }
            }
        }
    }
    .m-six {
        margin-top: -160px;
        background-image: url("@{kv_xuezhantiance}top-bg-retouch.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top 245px left;
        .m-content-box {
            margin-top: 82px;
            text-align: center;
            .m-gift-title,
            .m-gift-discount,
            .m-gift-author {
                margin: 0 auto;
            }
            .m-gift-login__text {
                margin-top: 68px;
                margin-bottom: 115px;
                font-size: 30px;
                color: white;
                line-height: 43.44px;
            }
            .m-gift-discount__text {
                margin-top: 118px;
                margin-bottom: 132px;
                color: white;
                opacity: 0.5;
                font-size: 24px;
                line-height: 34.75px;
            }
            .m-gift-display {
                position: relative;
                margin-top: 581px;
                margin-bottom: 85px;
                .m-gift-display__left {
                    position: absolute;
                    left: 98px;
                    bottom: 29px;
                }
                .m-gift-display__right {
                    position: absolute;
                    right: 152px;
                    bottom: 92px;
                }
            }
            .m-gift-more__text {
                margin-top: 36px;
                margin-bottom: 24px;
                color: white;
                line-height: 43.44px;
                font-size: 30px;
            }
        }
    }
}
.m-index {
    .flex;
    .clip;
    .auto(x);
    max-width: 1920px;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 980px) {
    .p-topic {
        zoom: 0.5;
    }
    .m-index {
        max-width: 100%;
    }
    .m-layout .m-plate-text p {
        line-height: normal;
    }
}
