// 仅本地测试使用！！！
@kv_silufengyu: "/tmp";
body {
    min-height: 3000px;
}

@import "../../../../node_modules/csslab/reset.less";
@import "./module.less";

// 整体
// ====================
.container {
    padding-top: @header-height;
    width: 1920px;
    margin: 0 auto;
    font-family: "Microsoft YaHei", sans-serif;
}

// 主KV
.banner {
    background-image: url("@{kv_silufengyu}/bg/banner__bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    height: 1200px;
}

.banner__logo {
    display: block;
    margin: 0 auto;
    padding-top: 560px;
}

/* 剧情推进模块 */
// --------------------
.story-progress {
    height: 300px;
    background-image: url("@{kv_silufengyu}/bg/story-progress__bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
}

.story-progress__content {
    background: url("@{kv_silufengyu}/bg/story-progress__img.png") no-repeat center top;
    background-origin: content-box;
    width: 1039px;
    height: 218px;
    margin: 0 auto;
    padding-top: 46px;
}

/* 叠加在图片上的文本 */
.story-progress__text {
    padding-left: 30px;
    padding-top: 30px;
    color: #7a1f17;
    width: 380px;

    .u-title {
        font-size: 24px;
        font-weight: 700;
    }

    .u-desc {
        margin-top: 20px;
        font-size: 16px;
    }
}

/* 剧情推进模块 */
// -------------------

.rsc-overview {
    padding-top: 70px;
    background-image: url("@{kv_silufengyu}/bg/pr1__bg.jpg");
    background-repeat: no-repeat;
    // background-size: cover; /* 让背景图片覆盖整个区域 */
    width: 1920px;
    height: 568px;
    // background-position: 100% auto;
}

.expansion-overview__list {
    margin-top: 60px;

    display: flex;
    justify-content: center;
    gap: 20px;

    // text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.expansion-overview__image {
    .size(189px,310px);
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 0;
}

.expansion-overview__item {
    &:nth-child(1) .expansion-overview__image {
        animation-delay: 0.1s;
    }
    &:nth-child(2) .expansion-overview__image {
        animation-delay: 0.2s;
    }
    &:nth-child(3) .expansion-overview__image {
        animation-delay: 0.3s;
    }
    &:nth-child(4) .expansion-overview__image {
        animation-delay: 0.4s;
    }
    &:nth-child(5) .expansion-overview__image {
        animation-delay: 0.5s;
    }
}


// 第二部分 新地图上线
.new-map {
    margin-top: -71px;
    padding-top: 70px;
    background-repeat: no-repeat;
    background-image: url("@{kv_silufengyu}/bg/pr2__bg.jpg");
    width: 1920px;
    height: 1100px;

    // background-position: 100% auto;
}

.new-map__bg2 {
    display: inline-block;
    width: 1920px;
    height: 900px;
}

.block-title2 {
    display: inline-block;
    position: relative;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
}

.new-map__mainpic {
    display: inline-block;
    position: relative;
    top: -630px;
    left: 50%;
    transform: translateX(-50%);
}

.new-map__textbg {
    position: relative;
    top: -655px;
    left: -280px;
}
.new-map__text {
    display: inline-block;
    position: relative;
    left: -710px;
    top: -680px;
    color: #7a1f17;
    width: 380px;

    .u-title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    .u-desc {
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
    }
}

.new-sec {
    margin-top: -71px;
    padding-top: 130px;
    background-image: url("@{kv_silufengyu}/bg/new-sec__bg.jpg");
    background-repeat: no-repeat;
    // background-size: cover; /* 让背景图片覆盖整个区域 */
    width: 1920px;
    height: 1230px;
}

.new-sec__text {
    display: inline-block;
    position: relative;
    left: 1169px;
    top: -660px;
    color: #7a1f17;
    // width: 421px;

    .u-title {
        font-size: 64px;
        font-weight: 700;
        line-height: 84.47px;
        text-align: left;
        width: 421px;
        height: 84px;
    }
    .u-desc {
        width: 201px;
        height: 36px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.48px;
        text-align: center;
        color: #7a1f1780;
    }
    .new-sec__textP {
        width: 421px;
        height: 234px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.48px;
        text-align: left;
        .u-desc1 {
            margin-top: 20px;
        }
        .u-desc2 {
            margin-top: 20px;
        }
        .u-desc3 {
            margin-top: 20px;
        }
    }
}

.duanshi {
    margin-top: -130px;
    // padding-top: 130px;
    background-image: url("@{kv_silufengyu}/bg/pr45__bg.jpg");
    background-repeat: no-repeat;
    // background-size: cover; /* 让背景图片覆盖整个区域 */
    width: 1920px;
    height: 1200px;

    padding: 130px 0px 130px 0px;
    gap: 60px;
}
.duanshi__mainpic {
    padding-top: 60px;
    width: 1920px;
    height: 800px;
    padding-bottom: 130px;
}




/* pr4 页面布局 */
.page-wrapper {
  width: 100%;
  padding: 20px;
  background-color: #f7f7f7;
}

/* 顶部标题部分 */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.page-title img {
  width: 300px;
}

/* 导航菜单样式 */
.nav {
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中排列 */
    align-items: center; /* 垂直居中对齐 */
    margin-bottom: 20px;
    position: relative;
    top: -900px;

}
.tab_img{
    padding:0;
    margin:0;
    width: 170px;
    height: 100px;
}

.tab {

  cursor: pointer;
  font-weight: bold;
}

.tab.active {
//   border-bottom: 2px solid #333;
//   color:#fff;
}

/* 内容样式 */
.content {
  text-align: center;
}

/* 武学部分图片展示 */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.full-skill-image {
  width: 80%; /* 调整大小以适应布局 */
  max-width: 1200px;
}

